@import "tailwindcss";
@import "@nuxt/ui-pro";

@theme {
  --font-geist: "Geist", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  --font-grotesque: "Bricolage Grotesque", sans-serif;
}

:root {
  --ui-bg: white;

  ::-webkit-scrollbar {
    width: 0.5rem;
    padding: 0.5rem;
  }

  ::-webkit-scrollbar-track {
    background: var(--ui-bg);
  }

  ::-webkit-scrollbar-thumb {
    background: #9CA3AF;
    border-radius: 0.5rem;
  }
}

.dark {
  --ui-bg: #090909;
}
